{
  "parser": "vue-eslint-parser",
  "parserOptions": {
    "parser": "@typescript-eslint/parser"
  },
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "extends": [
    // https://eslint.org/docs/latest/rules/
    "eslint:recommended",
    // https://typescript-eslint.io/rules/
    "plugin:@typescript-eslint/recommended",
    // https://eslint.vuejs.org/rules/
    "plugin:vue/vue3-recommended"
  ],
  "rules": {
    // add your custom rules here
    "vue/multi-word-component-names": "off",
    "no-undef": "warn"
  }
}
